/* import from tategaki style */
@import "./lib/tategaki/assets/tategaki";

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
.to-fullwidth {
  font-feature-settings: "fwid";
  text-transform: none;
}
.cjk-punc {
  /* 
    There are some bug in https://fonts.adobe.com/ 
    with upright-font
    I know it's ugly, but I have to find another way to fix it
  */
  font-family: 'STSong', 'SimSun', 'Georgia', 'serif';
}
.latin {
  text-orientation: mixed;
  /* -moz-text-orientation: mixed; */
}